<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    haltOnFailure="true"
    haltOnError="true">

    <testsuites>
        <testsuite name="Workshop Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>